extends layout.pug

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js')
  script(src="/scripts/gauge.min.js")
  script(src="/scripts/mqttclient.js")
  script(src="/scripts/loadPollConfig.js")
  script(src="/scripts/sendData.js")

block content
  div(class="font-semibold font-title") Air Stream
  p=userFloorDesc
  input(type="hidden", name="userMSTeams" id="userMSTeams" value=userMSTeams)
  input(type="hidden", name="userFloor" id="userFloor" value=userFloor)
  input(type="hidden", name="lastPollDateStart" id="lastPollDateStart" value=lastPollDateStart)
  input(type="hidden", name="lastPollDateEnd" id="lastPollDateEnd" value=lastPollDateEnd)
  input(type="hidden", name="nextPollDate" id="nextPollDate" value=nextPollDate)
  input(type="hidden", name="proposedValue" id="proposedValue" value=proposedValue)
  .row
    .col.m4.s12
        canvas(
            id="setPoint"
            data-type="radial-gauge"
            data-width="200"
            data-height="300"
            data-units="°C"
            data-title="Set Point"
            data-min-value="-50"
            data-max-value="50"
            data-major-ticks="[-50,-40,-30,-20,-10,0,10,20,30,40,50]"
            data-minor-ticks="2"
            data-stroke-ticks="true"
            data-highlights='[{"from": -50, "to": 0, "color": "rgba(0,0, 255, .3)"},{"from": 0, "to": 50, "color": "rgba(255, 0, 0, .3)"}]'
            data-ticks-angle="225"
            data-start-angle="67.5"
            data-color-major-ticks="#ddd"
            data-color-minor-ticks="#ddd"
            data-color-title="#eee"
            data-color-units="#ccc"
            data-color-numbers="#eee"
            data-color-plate="#222"
            data-border-shadow-width="0"
            data-borders="true"
            data-needle-type="arrow"
            data-needle-width="2"
            data-needle-circle-size="7"
            data-needle-circle-outer="true"
            data-needle-circle-inner="false"
            data-animation-duration="1500"
            data-animation-rule="linear"
            data-color-border-outer="#333"
            data-color-border-outer-end="#111"
            data-color-border-middle="#222"
            data-color-border-middle-end="#111"
            data-color-border-inner="#111"
            data-color-border-inner-end="#333"
            data-color-needle-shadow-down="#333"
            data-color-needle-circle-outer="#333"
            data-color-needle-circle-outer-end="#111"
            data-color-needle-circle-inner="#111"
            data-color-needle-circle-inner-end="#222"
            data-value-box-border-radius="0"
            data-color-value-box-rect="#222"
            data-color-value-box-rect-end="#333"
            data-font-value="Led"
            data-font-numbers="Led"
            data-font-title="Led"
            data-font-units="Led"
            data-value="22.1"
        )
    .col.m4.s12
        canvas(
            id="currentTemp"
            data-type="linear-gauge"
            data-width="110"
            data-height="250"
            data-border-radius="20"
            data-borders="true"
            data-bar-begin-circle="25"
            data-minor-ticks="10"
            data-value="25.6"
            data-min-value="0"
            data-max-value="70"
            data-major-ticks="0,10,20,30,40,50,60,70"
            data-ticks-width="18"
            data-ticks-width-minor="7.5"
            data-bar-width="5"
            data-highlights="false"
            data-color-value-box-shadow="false"
            data-value-box-stroke="0"
            data-color-value-box-background="false"
            data-color-plate="transparent"
            data-title="Current Temperature"
            data-value-int="2"
            data-value-dec="1")
    #dvPoll.col.m4.s12.hide
        .row
          .col.s6
            span(id="nextPollDateFront")
        .row
          .col.s6
            #btnCold1.air-btn.blue.valign-wrapper.center-align.waves-effect.waves-light.btn-poll(data-vote="1")
              h5 I feel cold
          .col.s6
            #btnCold2.air-btn.blue.valign-wrapper.center-align.waves-effect.waves-light.btn-poll(data-vote="2")
              h5 I feel very cold
        .row
          .col.s6
            #btnHot1.air-btn.red.valign-wrapper.center-align.waves-effect.waves-light.btn-poll(data-vote="-1")
              h5 I'm hot
          .col.s6
            #btnHot2.air-btn.red.valign-wrapper.center-align.waves-effect.waves-light.btn-poll(data-vote="-2")
              h5 I'm very hot
    #dvPollVote.col.m4.s12.hide
      .row
        .col.s12.center
          h4 There is a poll at this moment
          h5 the proposed value is 
            i(id="proposedValue")=proposedValue
      .row
        .col.s6.center
          button#btnYes.btn-large.green.center-align.waves-effect.waves-light.btnPollVote Yes
        .col.s6
          button#btnNo.btn-large.grey.center-align.waves-effect.waves-light.btnPollVote no 
  div 
    p#msg

